autograd==1.6.2
flax==0.8.5
imageio==2.34.2
jax==0.4.28
joblib==1.2.0
jraph==0.0.6.dev0
matplotlib==3.6.3
numpy==1.24.2
optax==0.2.3
pandas==2.2.2
pymanopt==2.2.0
PyQt5==5.15.11
PyQt5_sip==12.11.1
pyqtconsole==1.2.3
pyvista==0.43.8
pyvistaqt==0.11.1
scikit_learn==1.2.1
scipy==1.14.0
vtk==9.3.0
